<!--
  file name: bottom_nav.ejs
  Student name: Damanpreet Singh
  Student number: 301212574
  Date : 03-06-2022  
-->
<!--Bottom nav-->
<footer class="py-3">

        <p class="text-center footer-text p-0 m-0">&copy;Copyright 2022. All rights reserved</p>

</footer>